<html xmlns:th="http://www.thymeleaf.org">  
<head>
 <title>User page</title>
 <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
 <h1>User details</h1>
 <div class = "main_container">
  <div class="row">
   <div class="left">User Id:</div>
   <div class="left" th:text="${user.id}"></div>
  </div>
  
  <div class="row">
   <div class="left">Title: </div>
   <div class="left" th:text="${user.title}"></div>
  </div>
  
  <div class="row">
   <div class="left">Completed: </div>
   <div class="left" th:text="${user.completed}"></div>
  </div>
  
 </div>
</body>
</html>